@mixin label {
  font-weight: 600;
  margin-right: 30px;
}

@mixin input-field {
}

.form {
  background-color: $primary-color-light;
  padding: 20px;
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  .age {
    display: flex;

    .label {
      @include label;
    }
  }
}
