.macros {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px $primary-color-light, 4px 4px 4px $primary-color-light,
    -4px 4px 4px $primary-color-light;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  animation: fade-in 1s forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  }

  .calories {
    background-image: url("/assets/green_circle.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;

    .macro {
      font-family: "Zing";
      font-size: 50px;
      color: $primary-color;
      text-shadow: 2px 2px #ddd;
      line-height: 25px;
      text-align: center;
      padding-top: 20px;

      .unit {
        font-size: 20px;
      }
    }
  }

  .other {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);

    .proteins {
      background-image: url("/assets/proteins.png");
    }
    .glucids {
      background-image: url("/assets/glucids.png");
    }
    .lipids {
      background-image: url("/assets/lipids.png");
    }

    .proteins,
    .glucids,
    .lipids {
      background-size: contain;
      width: 120px;
      height: 120px;
      align-self: center;
      justify-self: center;
      position: relative;

      .macro {
        display: block;
        font-family: "Zing";
        font-size: 30px;
        position: absolute;
        bottom: 2px;
        width: 100%;
        text-align: center;
        margin: auto;
        color: #fff;
        text-shadow: 1px 0 2px #000, -1px 0 2px #000, 0 1px 2px #000,
          0 -1px 2px #000;
      }
    }
  }
  .resume {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;

    .crit {
      font-weight: 700;
    }
  }
}
