$primary-color: #19ce13;
$primary-color-light: #e9fae9;
$secondary-color: #000;
$form-input-border-color: #d3d3d3;

@font-face {
  font-family: "Zing";
  src: url("/fonts/zing.otf") format("opentype");
}

@font-face {
  font-family: "Zing-Line";
  src: url("/fonts/zing-line.otf") format("opentype");
}
